<ul *ngFor = "let request of requests">
    <li>Requestee: {{request.username}}</li>
    <li>Description: {{request.context}}</li>
    <li>Amount: ${{request.money}}</li>
    <li>Status: {{request.status}}</li>
    <li *ngIf="request.status == 'pending'"  (click)="deny(this.request.id)" class="btn btn-warning">Deny</li>
    <li *ngIf="request.status == 'pending'" (click)="approve(this.request.id)" class="btn btn-success">Approve</li>
    <li (click)="destroy(this.request.id)" class="btn btn-danger">Delete</li>
</ul>