<div class="container">
			<div class="panel-heading">
				<h3 class="panel-title">Log In</h3>
			</div>
	<form (submit)="login()" role="form">
		<div class="form-group">
			<fieldset>
				<div class="form-group">
					<input class="form-control" placeholder="username" name="testvalue" [(ngModel)]="logInUser.email"
						type="text">
				</div>
				<div class="form-group">
					<input class="form-control" placeholder="Password" name="testvalue" [(ngModel)]="logInUser.password"
						type="password">
				</div>
				<input type="submit" class="btn btn-sm btn-success" value="LogIn">
			</fieldset>
		</div>
	</form>
</div>